.CarouselItem {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.CarouselItem h2 {
  text-align: center;
  color: #2a2d34;
  font-size: 1.5em;
}

.ImgBox {
  width: 50%;
  margin: 15px auto;
  box-sizing: border-box;
}

.PriceBox {
  width: 100%;
  margin: auto;
}

.ImgBox img {
  display: block;
  width: 100%;
  min-width: 200px;
  margin: auto;
}

.CarouselItem .DiscountPrice {
  color: #02a844;
  font-weight: bold;
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 0;
}

.InCash {
  text-align: center;
  margin-left: 5px;
  font-size: 1.4em;
  margin-bottom: 0 !important;
}

.CarouselItem .TotalPrice {
  color: #10a5e8;
  font-size: 2.3em;
  text-align: center;
  margin-top: 0.6em !important;
  margin-bottom: 0 !important;
}

.InInstallments {
  text-align: center;
  margin-left: 5px;
  font-size: 1.3em;
}

.ButtonBox {
  text-align: center;
}

.ButtonBox div {
  margin-top: 10px;
}

.ButtonBox div button {
  width: 150px;
}

.BuyButton {
  background-color: #02a844;
  border-color: #02a844;
}

.BuyButton:hover,
.BuyButton:focus,
.BuyButton:active {
  background-color: rgb(25, 196, 93);
  border-color: rgb(25, 196, 93);
}

@media (min-width: 1200px) {
  .ImgBox {
    width: 500px;
  }
}
