.CarouselItem {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.CarouselItem h2 {
    text-align: center;
    color: #2A2D34;
    font-size: 1.8em;
}

.ImgBox {
    width: 60%;
    margin: 30px auto;
    box-sizing: border-box;
}

.PriceBox {
    width: 100%;
    margin: auto;
}

.ImgBox img {
    display: block;
    width: 100%;
    margin: auto;
}

.DiscountPrice {
    color: #02A844;
    font-weight: bold;
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 0;
}

.InCash {
    text-align: center;
    margin-left: 5px;
    font-size: 1.4em;
}

.TotalPrice {
    color: #10a5e8;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 0;
}

.InInstallments {
    text-align: center;
    margin-left: 5px;
    font-size: 1.3em;
}

.ButtonBox {
    text-align: center;
}

.ButtonBox div {
    margin-top: 10px;
}

.ButtonBox div button {
    width: 150px;
}

.BuyButton {
    background-color: #02A844;
    border-color: #02A844;
}

.BuyButton:hover,
.BuyButton:focus,
.BuyButton:active {
    background-color: rgb(25, 196, 93);
    border-color: rgb(25, 196, 93);
}

@media(min-width: 992px) {

    .DiscountPrice {
        text-align: right;
        margin-bottom: 0;
    }

    .InCash {
        text-align: left;
        margin-bottom: 0;
    }

    .TotalPrice {
        text-align: right; 
        margin-bottom: 0;
        padding-right: 25px;
    }
    
    .InInstallments {
        text-align: left;
        margin-bottom: 0;
    }

    .ImgBox {
        width: 400px;
    }
}

@media(min-width: 1200px) {
    .ImgBox {
        width: 500px;
    }
}