.LinkList {
    height: 100%;
    margin: 10px auto;
    list-style: none;
    text-align: left;
    padding: 0;
}

@media(min-width: 660px) {
    .LinkList {
        text-align: right;
    }
}

@media(min-width: 1000px) {
    .LinkList {
        text-align: center;
    }
}

