.SideDrawer {
    display: none;
}

.SideDrawer h3 {
    font-size: 1.3em;
    text-align: center;
    margin: 20px auto;
}

.SearchBar {
    width: 100%;
}

.ant-drawer-title {
    font-size: 1.5em !important;
}

@media(max-width: 660px) {
    .SideDrawer {
        display: block;
    }
}
