.Category {
  display: block;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 30px;
  font-size: 1.3em;
  box-sizing: border-box;
  color: #2a2d34;
}

.Category.Active,
.Category.Category.Active:hover {
  background-color: #0bb0e7;
  color: white;
}

.Category:hover,
.Category:active {
  background-color: #f1f1f1;
  color: #2a2d34;
}

@media (max-width: 850px) {
  .Category {
    padding: 4px 0;
  }

  .Category.Active,
  .Category.Category.Active:hover,
  .Category:hover,
  .Category:active {
    background-color: transparent;
    color: #0bb0e7;
  }
}
